@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* --- General Styles --- */
body {
    font-family: 'Oswald', sans-serif;
    background-image: url('/static/css/images/claritywebbgbc.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #094275;
    color: #F0D5C0;
}

.bg-clarity {
    background-color: #094275;
}

.clarity-bright {
    color: #DC7364;
}

.clarity-white {
    color: #F0D5C0;
}

.header-container {
    height: 116px;
}

.mainbody {
    padding-left: 5%;
    padding-right: 5%;
    scroll-behavior: smooth;
    padding-bottom: 10%;
    margin-top: 10px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-weight: 200;
}

.inline-block {
    display: inline-block;
}

/* --- Page logo --- */
.logo-large {
    width: 100%;
    height: auto;
}

.headtitle {
    padding-top: 10%;
    display: inline-block;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.strapline {
    padding-top: 0%;
    margin-top: -10%;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #F0D5C0
}

a:hover {
    text-decoration: none;
    color: #DC7364
}

.cta {
    font-weight: 200;
}


/* --- Navigation --- */

.navbar {
    margin-left: auto
}

.nav-item a:hover {
    color: #DC7364;
}

.nav {
    flex-wrap: nowrap;
}

.nav a {
    text-align: end;
    color: #F0D5C0;
}

.navbar-img {
    height: 50px;
    width: auto;
}

.fa-solid {
    color: #F0D5C0;
}

.dropdown-menu {
    color: #F0D5C0;
    background-color: #094275;
}

/* --- Home Page index.html --- */

.tagline {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 200;
}

.call-to-action {
    justify-content: right;
    margin-right: 0;
    display: flex;
    padding-bottom: 5%;
}

.call-text {
    font-size: 26px;
}


.about-me {
    font-size: 1.25rem;
}

/* --- Contact Page contact.html --- */
.call-text strong {
    text-decoration: none;
    color: #DC7364;
    text-transform: capitalize;
}

.call-text strong:hover {
    text-decoration: underline;
    color: #DC7364
}

/* ----- Form page ----- */

.thanksDiv {
    display: none;
}

/* --- buttons all pages --- */

.clarity-btn {
    color: #F0D5C0;
    background-color: #DC7364;
}

.funnel-btn {
    margin: auto;
}

/* --- Cards all pages --- */
.card {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #DC7364;
}

.card-body h2:hover {
    color: #DC7364;
}

.card-body p {
    font-weight: 200;
}

.about-card
/* --- Footer all pages --- */

footer {
    background-color: red;
    min-height: 40px;
    margin: 0;
    margin-top: 5%;
}

.footer-sections {
    color: #F0D5C0;
    font-family: inherit;
    font-size: small;
    text-align: center;
}

.footer-sections span {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.footer-sections p:hover,
i:hover {
    color: #DC7364;
}

.copyright p {
    margin-bottom: 0;
}

.footer-logo {
    margin-bottom: 0 !important;
}


/* --- Clarity Footer --- */
.clarity-footer {
    background-color: #094275;
    overflow: hidden;
    font-weight: 200;
    line-height: 1;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 2.5%;
}

.clarity-footer h6 {
    font-size: 2rem;
    font-weight: 200;
    color: #DC7364;
}

.copyright {
    padding-bottom: 100px;
}

/* --- Media Queries SUB 1400px --- */
@media(max-width: 1400px) {}

@media (max-width: 991px) {
    .header-container {
        height: 116px;
    }
}

/* --- Media Queries SUB 800px --- */
@media(max-width: 800px) {

    .logo-large {
        width: 150% !important;
        height: auto;
    }

    .strapline {
        padding-top: 0%;
        margin-top: -10%;
        font-size: 20px;
    }

}