{% extends "base.html" %}

{% block content %}

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="card-title display-4">Our Story</h2>
                <p class="card-text h4">Clairty for Business was created to work with industy leaders, thinkers and do'ers.
                    Helping businesses thrive with front line leadership is our passion.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="card-title display-4">Our Mission</h2>
                <p class="card-text h4">We provide expert assisance across many areas of buisness and
                    our goal is to set your buisness on the path to success.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body text-center">
                <a href="{{ url_for('services') }}"><h2 class="card-title display-4">Our Services</h2></a>
                <p class="card-text h4">We provide a wide range of services starting with Buisness consultancy, Interm
                    Management. Youi can read more about our wide range of <a href="{{ url_for('services') }}">services </a>here</p>
            </div>

        </div>
    </div>
    <div class="col-md-12 mb-5">
        <div class="card h-100">
            <div class="card-body text-center">
                <h2 class="card-title display-4">Our People</h2>
                <p class="card-text h4">The team is lead by Kerry Spence, with over 30 years experience working and
                    running her own buisness. Kerry has worked at board level as MD and General Manager and has seen a lot!
                    Thriving right in the thick of the action on the rollercoaster that is rapid company growth. Building
                    and manageing teams, departments, and complex global supply chains. An effective decision maker and
                    respected people manager who works well under pressure in a fast paced changing environment. Remaining
                    practical and calm with a common sense and commercial approach.</p>
                </div>
        </div>
    </div>
    
</div>

{% endblock %}