<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Style Sheet-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Custom Style Sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>REACT CLARITY | Management Consultants, Mentors and Interim Managers | Reactclarity.co.uk</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>

    <script type="text/javascript">
        (function () {
            emailjs.init("jlEjxlRenlRKVMWtz");
        })();
    </script>
    <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
    <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js"
        charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
        document.addEventListener('DOMContentLoaded', function () {
            cookieconsent.run({
                "notice_banner_type": "simple",
                "consent_type": "express",
                "palette": "light",
                "language": "en",
                "page_load_consent_levels": ["strictly-necessary"],
                "notice_banner_reject_button_hide": false,
                "preferences_center_close_button_hide": false,
                "page_refresh_confirmation_buttons": false,
                "website_privacy_policy_url": "https://www.reactclarity.co.uk/more"
            });
        });
    </script>


    <!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->
</head>

<body>

    <header>
        <nav class="navbar fixed-top navbar-expand-md bg-clarity">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img class="navbar-img"
                    src="{{ url_for('static', filename='css/images/react-clarity.png') }}" alt="React CLARITY Logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse nav-menu" id="collapsibleNavbar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('index') }}">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">ABOUT</a>
                        <div class="dropdown-menu">
                            <!-- <a class="dropdown-item" href="{{ url_for('about') }}">REACT CLARITY</a> -->
                            <a class="dropdown-item" href="{{ url_for('services') }}">SERVICES</a>
                            <a class="dropdown-item" href="{{ url_for('team') }}">MEET KERRY</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('testimonials') }}">TESTIMONIALS</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <section class="mainbody">
        <section>
            <div class="header-container">
                <div class="row">
                    <div class="col">
                        
                    </div>
                </div>
                
            </div>
            <div class="text-center">
                <div class="row w-100 text-white m-0 text-center newsletterline">
                    <div class="col"></div>
                    <div class="col p-0 col-md-3 clarity-boarder">
                        
                    <!-- Button trigger modal -->
                    <a type="button" class="pt-0 clarity-bright" data-toggle="modal" data-target="#NewsletterModal">
                        Join My Mailing List
                    </a>
                    
                </div>
                <div class="col"></div>
                    <!-- Modal -->
                    <div class="modal fade" id="NewsletterModal" tabindex="-1" aria-labelledby="newsletterModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-clarity">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="newsletterModalLabel">Join my mailing list.
                                        <br>
                                        Sign up for occasional blogs and tips from Kerry.</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="mc_embed_shell">
                                        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet"
                                            type="text/css">
                                        <div id="mc_embed_signup">
                                            <form
                                                action="https://reactclarity.us9.list-manage.com/subscribe/post?u=4102b7f23ee3a56551b662c05&amp;id=c99ce136db&amp;v_id=2491&amp;f_id=00b356e1f0"
                                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                                class="validate" target="_blank">
                                                <div id="mc_embed_signup_scroll">
                                                    <h2>Sign up to my newsletter</h2>
                                                    <div class="indicates-required"><span class="asterisk">*</span> indicates
                                                        required</div>
                                                    <div class="mc-field-group"><label for="mce-FNAME">Name </label><input
                                                            type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div>
                                                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                                                class="asterisk">*</span></label><input type="email" name="EMAIL"
                                                            class="required email" id="mce-EMAIL" required="" value=""></div>
                                                    <div id="mergeRow-gdpr"
                                                        class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                                                        <div class="content__gdpr"><label>Marketing Permissions</label>
                                                            <p>Please select all the ways you would like to hear from React Clarity
                                                                :</p>
                                                            <fieldset class="mc_fieldset gdprRequired mc-field-group"
                                                                name="interestgroup_field"><label class="checkbox subfield"
                                                                    for="gdpr36150"><input type="checkbox" id="gdpr_36150"
                                                                        name="gdpr[36150]" class="gdpr"
                                                                        value="Y"><span>Email</span></label></fieldset>
                                                            <p>You can unsubscribe at any time by clicking the link in the footer of
                                                                our emails. For information about our privacy practices, please
                                                                visit our website.</p>
                                                        </div>
                                                        <div class="content__gdprLegal">
                                                            <p>We use Mailchimp as our marketing platform. By clicking below to
                                                                subscribe, you acknowledge that your information will be transferred
                                                                to Mailchimp for processing. <a
                                                                    href="https://mailchimp.com/legal/terms">Learn more</a> about
                                                                Mailchimp's privacy practices.</p>
                                                        </div>
                                                    </div>
                                                    <div hidden=""><input type="hidden" name="tags" value="12980169"></div>
                                                    <div id="mce-responses" class="clear foot">
                                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                                        <div class="response" id="mce-success-response" style="display: none;">
                                                        </div>
                                                    </div>
                                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                                        /* real people should not fill this in and expect good things - do not
                                                        remove this or risk form bot signups */
                                                        <input type="text" name="b_4102b7f23ee3a56551b662c05_c99ce136db"
                                                            tabindex="-1" value="">
                                                    </div>
                                                    <div class="optionalParent">
                                                        <div class="clear foot">
                                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                                class="clarity-btn btn-sm" value="Subscribe">
                                                            <p style="margin: 0px auto;"><a href="http://eepurl.com/i06Djw"
                                                                    title="Mailchimp - email marketing made easy and fun"><span
                                                                        style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                                            class="refferal_badge"
                                                                            src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                                            alt="Intuit Mailchimp"
                                                                            style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <script type="text/javascript"
                                            src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                                        <script type="text/javascript">
                                            (function ($) {
                                                window.fnames = new Array();
                                                window.ftypes = new Array();
                                                fnames[1] = 'FNAME';
                                                ftypes[1] = 'text';
                                                fnames[0] = 'EMAIL';
                                                ftypes[0] = 'email';
                                                fnames[2] = 'LNAME';
                                                ftypes[2] = 'text';
                                                fnames[3] = 'ADDRESS';
                                                ftypes[3] = 'address';
                                                fnames[4] = 'PHONE';
                                                ftypes[4] = 'phone';
                                                fnames[5] = 'BIRTHDAY';
                                                ftypes[5] = 'birthday';
                                                fnames[6] = 'COMPANY';
                                                ftypes[6] = 'text';
                                            }(jQuery));
                                            var $mcj = jQuery.noConflict(true);
                                        </script>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}

            {% endblock %}
        </section>
    </section>
    <div>
        <!-- Footer -->
        <footer class="text-center">
            <div class="clarity-footer">
                <section>
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="mb-4 footer-logo">
                                REACT CLARITY
                            </h6>
                            <p class="footer-strapline mt-4 mb-4">BUSINESS CONSULTANTS</p>
                            <a href="{{ url_for('contact') }}">Get in touch - Free consultation</a>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="mb-4">
                                Useful links
                            </h6>
                            <p>
                                <a type="button" class="pt-0" data-toggle="modal" data-target="#NewsletterModal">
                                    Sign up to our newsletter
                                </a>
                            </p>
                            <p>
                                <a href="{{ url_for('contact') }}">Contact</a>
                            </p>
                            <p>
                                <a href="{{ url_for('services') }}">Services</a>
                            </p>
                            <p>
                                <a href="{{ url_for('privacy') }}">Privacy Policy</a>
                            </p>
                            <p></p>
                                <a href="{{ url_for('cookies') }}">Cookies Policy</a>
                            </p>
                            <p>
                                <a href="#" id="open_preferences_center">Update cookies preferences</a>
                            </p>


                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="mb-4">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> UK & Ireland</p>
                            <p><i class="fas fa-phone mr-3"></i> 0044 7736 805269</p>
                            <p><i class="fas fa-envelope mr-3"></i><a
                                    href=mailto:info@reactclarity.com>info@reactclarity.com</a></p>
                            <a href="https://www.linkedin.com/in/kerryspence/" target="_blank">
                                <i class="fab fa-linkedin"></i> LinkedIn</a>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
                


                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="pt-0">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <!-- Copyright -->
                        <div class="Copyright">
                            <p>© 2023 Copyright: React Clarity</p>
                        </div>
                        <!-- Copyright -->
                    </div>

                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/75b57bf907.js" crossorigin="anonymous"></script>
    <script src="static/js/sendEmail.js"></script>

</body>

</html>