{% extends "base.html" %}

{% block content %}

<div class="row m-0 ps-1 pe-2">

    <div class="col-8 headtitle">
        <img class="logo-large img-fluid"
            src="{{ url_for('static', filename='css/images/ReactClaritySignatureLogo2.png') }}"
            alt="Image of React Clairty Logo">
        <small class="strapline lead">Your vision. We make it work.</small>
        <br>
        <small class="text-muted clarity-white lead">Interim Managers, People and team experts, mentors.</small>

    </div>
    <div class="col-4 headtitle">
        <img class="logo-large img-fluid" src="{{ url_for('static', filename='css/images/ks-profile-pic.png') }}"
            alt="Image of Kerry Spence">
    </div>

    <div class="col-md-7 mt-5 mx-auto">

    </div>
    <div class="col-md-5 mx-auto">

    </div>
</div>

<div class="row">
    <div class="col-md-12 container">
        <h1 class="tagline h1">
            Introducing React Clarity founded by Kerry Spence - your go to expert for Interim (fractional) management,
            mentoring and business consultancy solutions.
            <br>
            Specialising in helping owner managed and family businesses with hands on , practical and common sense
            support
        </h1>

        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h2 class="card-title h3">Leader for Hire</h2>
                        <p class="card-text h4">
                            Interim(fractional) leader for hire.
                            Take the first step toward a better work/life balance
                        </p>
                        <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal"
                            data-target="#unleash">
                            More Info
                        </button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="unleash" tabindex="-1" role="dialog" aria-labelledby="unleashTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-clarity">
                        <div class="modal-header">
                            <h5 class="modal-title" id="unleashTitle">Leader for Hire</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Take the first step towards a better work-life balance with our interim (fractional)
                            succession management service. Perfect for business owners who want to step back for a
                            better work/life balance and for family businesses preparing for the next generation. Our
                            part-time, interim management service provides a safe low risk and easy way to transition
                            without long- term commitments or costs.
                            <br>
                            Key Features
                            <ul>
                                <li>
                                    Controlled step back: We help you let go slowly and carefully
                                    without a long-term
                                    commitment.
                                </li>
                                <li>
                                    Interim Leadership: We provide temporary part time leadership until you transition
                                    into a
                                    new management structure.
                                </li>
                                <li>
                                    Tailored Executive Search: We use our deep understanding of your business to define
                                    the
                                    role/s and management structure to help you build your team.
                                </li>
                                <li>
                                    Team Alignment: We ensure your team members are in the right roles and performing at
                                    their
                                    best to maintain business performance and seamless integration of any new hire.
                                </li>
                                <li>
                                    Coaching the next generation: Mentoring and support for the next generation or new
                                    hires.
                                </li>
                                <li>
                                    Productivity Enhancement: We help you maintain operational efficiency, during change
                                    ensuring continued productivity and profitability.
                                </li>

                            </ul>
                            <br>
                            Key Benefits
                            <br>
                            <ul>
                                <li>
                                    Flexible Interim Solution: Maintain continuity with temporary leadership while you
                                    sample stepping back. Extent and pace is up to you.
                                </li>
                                <li>
                                    Protect Your Business: Ensure your business remains stable during any succession
                                    process.
                                </li>
                                <li>
                                    Work life balance and flexibility: Create space and time and the opportunity to
                                    achieve a healthier work-life balance.
                                </li>
                                <li>
                                    Low risk solution: Maintain control in a cost-effective manner with flexibility to
                                    take additional time away from the business.
                                </li>
                                <li>
                                    Cost savings: With a deep understanding of your business, we help you identify the
                                    right senior leader, avoiding any costly hiring mistakes.
                                </li>
                                <li>
                                    Smooth Transition: Fully prepare your organisation to support and welcome new hires
                                    by establishing a robust system, structure, and positive culture.
                                </li>
                                <li>
                                    Coach the Next Generation: Hands-on coaching to prepare for new roles.
                                </li>
                            </ul>
                            <br>
                            <p class="text-center">BUY BACK YOUR TIME</p>
                            Trust your business to experienced and capable hands, stay as involved as you desire, and
                            confidently take a step back to enjoy a higher quality of life with minimal risk.
                        </div>
                        <div class="modal-footer">
                            Take the 1st step - 
                            <!-- <a class="btn clarity-btn btn-sm my-3" href=""
                                onclick="Calendly.initPopupWidget({url: 'https://calendly.com/reactclarityintro/45min'});return false;">Book
                                a Call</a> -->
                                <a href="{{ url_for('contact') }}" class="btn clarity-btn btn-sm my-3">Book a Call</a>
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h2 class="card-title h3">People & Team specialist</h2>
                        <p class="card-text h4">
                            Creating cohesive and high performing teams
                        </p>
                        <button type="button" class="btn clarity-btn " data-toggle="modal" data-target="#regain">
                            More Info
                        </button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="regain" tabindex="-1" role="dialog" aria-labelledby="regainTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-clarity">
                        <div class="modal-header">
                            <h5 class="modal-title" id="regainTitle">People & Team specialist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Key Features
                            <ul>
                                <li>
                                    Team Analysis: Assess the current team setup to align roles with individual skills
                                    and identify areas for improvement.
                                </li>
                                <li>
                                    Conflict Resolution: Address and resolve interpersonal conflicts, issues or
                                    stumbling blocks, promoting a collaborative and productive work environment.
                                </li>
                                <li>
                                    Contract and Role Review: Confirm and update employment status and contracts, job
                                    descriptions, and terms and conditions (including outsourced contractors) to reflect
                                    accurate responsibilities and expectations.
                                </li>
                                <li>
                                    Performance Metrics: Develop and implement KPIs and a performance measurement and
                                    management process to monitor and enhance individual and team performance.
                                </li>
                                <li>
                                    Cultural Enhancement: Evaluate and improve your business culture, fostering a
                                    positive, motivating, and inclusive workplace.
                                </li>
                                <li>
                                    Rewards and Incentives: Design and implement effective reward and incentive programs
                                    to recognise and encourage high performance.
                                </li>
                                <li>
                                    Mentoring Support: Provide ongoing mentoring and support for team members facing
                                    challenges, helping them to improve and succeed.
                                </li>

                            </ul>
                            <br>
                            <p class="text-center">CREATE HIGH PERFORMANCE TEAMS</p>
                            Whether you need to realign team roles, resolve conflicts, establish robust performance and
                            reward systems or simply tighten up your paperwork, Team Sync offers the expertise and
                            practical solutions necessary to create a cohesive,
                            high-performing, and motivated team.



                            <img class="pt-3 featurette-image img-fluid mx-auto d-block"
                                src="{{ url_for('static', filename='css/images/ABMLogo.jpg') }}"
                                alt="Image of Kerry Spence">

                        </div>
                        <div class="modal-footer">
                            The first discovery call is always free - <a href="{{ url_for('contact') }}" class="btn clarity-btn btn-sm my-3">Book a Call</a>
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h2 class="card-title h3">Business Consultancy</h2>
                        <p class="card-text h4">
                            Build a better, stronger business
                        </p>
                        <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal"
                            data-target="#identifiy">
                            More Info
                        </button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="identifiy" tabindex="-1" role="dialog" aria-labelledby="identifiyTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-clarity">
                        <div class="modal-header">
                            <h5 class="modal-title" id="identifiyTitle">Business Consultancy</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Management Reset is a specialised consulting service aimed at redefining and revitalising
                            your organisation's leadership. Our service is designed
                            to offer practical solutions for overcoming challenges, trouble shooting, firefighting and
                            achieving sustainable growth.

                            <br>
                            Key Features
                            <ul>
                                <li>
                                    Vision and Strategy Development: Facilitate the creation or refinement of your
                                    business vision and strategic plan, aligning leadership goals with business
                                    objectives.
                                </li>
                                <li>
                                    Leadership Training: Provide targeted training and support for senior leaders to
                                    enhance their skills and confidence, improve decision-making, trouble-shooting
                                    skills, and foster a culture of innovation and growth.
                                </li>
                                <li>
                                    Mentoring and Support: Offer ongoing mentorship and support to business owners and
                                    senior leaders, helping them navigate challenges and capitalise on opportunities.
                                </li>
                                <li>
                                    Practical Problem-Solving: Deliver hands-on assistance in addressing immediate
                                    business challenges and implementing growth strategies.
                                </li>
                                <li>
                                    Growth Facilitation: Equip leaders with the tools and knowledge needed to drive
                                    sustainable growth and lead their teams effectively.
                                </li>
                            </ul>
                            <br>
                            <p class="text-center">YOUR VISION - WE MAKE IT WORK</p>
                            Whether you're looking to redefine your organisation's direction, enhance the capabilities
                            of your senior leadership team, or overcome specific business and people challenges,
                            Management Reset provides the expertise and support necessary to achieve transformative
                            results and foster long-term success and growth.
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('contact') }}" class="btn clarity-btn btn-sm my-3">Book a Call</a>
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>





        <div class="col-12 col-md-8 offset-md-2">
            <p class="card-text text-center cta h5">
                Don't know where to start? Look no further. Let's have a no obligation and confidential discussion
                about your current challenges
            </p>
        </div>
        <div class="col-md-12 text-center">
            <a href="{{ url_for('contact') }}" class="btn clarity-btn btn-lg my-3">Book a Call</a>
            <!-- Calendly link widget begin -->
            <!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <a class="btn btn-lg clarity-btn my-3" href=""
                onclick="Calendly.initPopupWidget({url: 'https://calendly.com/reactclarityintro/45min'});return false;">Book
                now</a> -->
            <!-- Calendly link widget end -->
        </div>
    </div>
    {% endblock %}