{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12 container">
        <h1 class="h1 tagline">
            At React Clarity we specialise in identifying and addressing the gaps and roadblocks hindering your
            business's growth and productivity. When you're facing challenges in team dynamics, culture, lack of
            processes, or overwhelmed leaders, we step in on an interim basis as your trusted partners to assist you
            towards success. Your vision. We make it work.
        </h1>
        <div class="col-md-12 container call-to-action">
            <small class="lead call-text">
                Don't know where to start?
                <a class="btn btn-sm clarity-btn" href="{{ url_for('contact') }}">Contact us</a>
            </small>
        </div>


        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h2 class="card-title h3">Unleash your true businesses potential</h2>
                        <p class="card-text h4">
                            Navigating the challaneges of growth, opptomising team proformance, maximising oppertunities
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h2 class="card-title h3">Indentify Roadblocks</h2>
                        <p class="card-text h4">
                            Pinpointing the root causes of your challenges, through formal audit and
                            comprehensive planning, or practical hands on guidance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h2 class="card-title h3">Regain Control</h2>
                        <p class="card-text h4">
                            If you are working in your business instead of on your business, we offer soulitions,
                            structure and support
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 offset-2">
            <p class="card-text h5">
                If your business is facing obstacles, lacks processes, or needs mentorship,
                <br>
                look no further. 
                Let's have a no obligation discussion about your current challenges.
            </p>
        </div>
        <div class="col-md-12 text-center">
            <a class="btn btn-lg clarity-btn" href="{{ url_for('services') }}">More Info</a>
        </div>
    </div>
    {% endblock %}