{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h2 class="my-4 display-4">Privacy Policy</h2>
        <p class="text-center h5">
            React Clarity uses cookies on its website. Cookies are small text files (containing numbers and letters)
            which may be placed on your computer or device when you visit a website. On the React Clarity website their
            function is to collect data and generate statistics on how the website is being used. The information
            gathered enables us to improve and enhance the website.
            React Clarity does not collect any personal information nor do we pass any information to third parties,
            either directly or via embedded content.
            By using our website you are consenting to our use of cookies. If you would prefer not to use cookies they
            can be blocked or deleted by changing your browser settings.
        </p>

        <br>
        <br>
        <div class="funnel-btn col-6 offset-3 text-center d-block">
            <a class="btn btn-sm clarity-btn mx-auto" href="{{ url_for('contact') }}">Contact us</a>
            <a class="btn btn-sm clarity-btn mx-auto" href="{{ url_for('services') }}">Services</a>
        </div>
    </div>
</div>
{% endblock %}