{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 headtitle container-fluid">
        <h1 class="logo"><a href="{{ url_for('index') }}" class="display-1">CLARITY for</a></h1>
       
    </div>
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Business</h2>
                <p class="card-text">Yor Vision. We make it work</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Finance</h2>
                <p class="card-text">Our Team will crunch the numbers and add zeros to your margins!</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">HR</h2>
                <p class="card-text">The HR team .....</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Sustainability</h2>
                <p class="card-text">Our Team of environmentalists...... Sustainability</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card- display-4">This</h2>
                <p class="card-text">Do that and the other</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Recruitment</h2>
                <p class="card-text">We have contacts you hace the roles</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
</div>
</div>
{% endblock %}