{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="card-title display-2">CLARITY FOR</h2>
    </div>
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Management</h2>
                <p class="card-text h4">Yor Vision. We make it work</p>
                <p class="card-text">
                    <ul>
                        <li>Mentoring and business support</li>
                        <li>Audits and action plans</li>
                        <li>Company change and growth</li>
                        <li>Strategy and troubleshooting</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Team & HR</h2>
                <p class="card-text h4">Creating Positive Culture</p>
                <p class="card-text">
                    <ul>
                        <li>Team building and management </li>
                        <li>Performance management accountability and development</li>
                        <li>Culture, engagement and mentoring </li>
                        <li>Complex Hr issues, change management and advice </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Sales</h2>
                <p class="card-text h4">Maximising Opportunities</p>
                <p class="card-text">
                    <ul>
                        <li>Preparing to scale and grow</li>
                        <li>New market growth & expansion</li>
                        <li>Sales strategy & analysis</li>
                        <li>Export market growth and development</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Marketing</h2>
                <p class="card-text h4">Building your Brand</p>
                <p class="card-text">
                    <ul>
                        <li>Strategy consultation and implementation </li>
                        <li>Social media management and growth</li>
                        <li>Brand growth and PR </li>
                        <li>Websites and design </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Operations</h2>
                <p class="card-text h4">Systems Optimisation to deliver on Efficiency, Productivity</p>
                <p class="card-text">
                    <ul>
                        <li>Supply chain management and growth</li>
                        <li>Process/systems development and trouble shooting </li>
                        <li>Project delivery</li>
                        <li>Product development</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Finance</h2>
                <p class="card-text h4">Optimising margin & Profitability</p>
                <p class="card-text">
                    <ul>
                        <li>Business planning</li>
                        <li>Cost accounting</li>
                        <li>Sales analysis</li>
                        <li>Cost centre management</li>                        
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}