{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="card-title display-2">CLARITY FOR</h2>
    </div>
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Business Managament</h2>
                <p class="card-text">Yor Vision. We make it work</p>
            </div>
            <div class="card-footer my-0"><a class="btn clarity-btn btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Team & HR</h2>
                <p class="card-text">Creating Positive Culture</p>
            </div>
            <div class="card-footer my-0"><a class="btn clarity-btn btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Sales</h2>
                <p class="card-text">Maximising Opertuinites</p>
            </div>
            <div class="card-footer my-0"><a class="btn clarity-btn btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Marketing</h2>
                <p class="card-text">Building your Brand</p>
            </div>
            <div class="card-footer my-0"><a class="btn clarity-btn btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card- display-4">Operations & Supply</h2>
                <p class="card-text">Systems Optimisiation to deliver on Effinincy, Productivity</p>
            </div>
            <div class="card-footer my-0"><a class="btn clarity-btn btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title display-4">Finance</h2>
                <p class="card-text">Optimixing margin & Profitability</p>
            </div>
            <div class="card-footer my-0"><a class="btn clarity-btn btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
</div>
</div>
{% endblock %}