{% extends "base.html" %}

{% block content %}
<div class="row featurette w-100">
    <div class="col-md-7 mx-auto">
        <h1>Kerry Spence</h1>
        <h4 class="mt-2">MD - React Clarity</h4>
        <h4 class="mt-2"><a href=mailto:kerry@reactclarity.com>kerry@reactclarity.com</a></h4>
        <p class="mt-4 about-me">
            Kerry is a highly experienced people manager, troubleshooter, mentor working primarily with established
            owner managed and family businesses.
            <br><br>
            Having been in business for over 30 years I understand the unique struggles that come with being in charge,
            managing up, conflict resolution and leadership responsibilities.
            <br><br>
            As someone who has been an employee and business owner , I've encountered the highs and lows , victories and
            defeats and made plenty of mistakes!
            <br><br>
            I have built and managed teams, departments, and complex global supply chains and have a deep understanding
            of people management based on experience.
            <br><br>
            It can often feel lonely at the top and I have felt your pain. I have mentored business owners, leaders and teams , supporting through rapid company growth. 
            <br><br>
            I work confidentiality up to board level and bring a common sense and practical approach to problem solving with a passion for people,  always focused on bringing out the best in teams and ultimately your busines
            <br><br>
        </p>
    </div>
    <div class="col-md-5 mx-auto">
        <img class="featurette-image img-fluid mx-auto d-block"
            src="{{ url_for('static', filename='css/images/ks-profile-pic.png') }}" alt="Image of Kerry Spence">
    </div>
</div>
<div class="row featurette w-100">
    <div class="col-md-7 mt-5 mx-auto">
        <h4 class="mt-2">Member of the Association of British Mentors</h4>
    </div>
    <div class="col-md-5 mx-auto">
        <img class="featurette-image img-fluid mx-auto d-block"
            src="{{ url_for('static', filename='css/images/ABMLogo.jpg') }}" alt="Image of Kerry Spence">
    </div>
</div>

{% endblock %}