{% extends "base.html" %}

{% block content %}
<div class="row featurette w-100">
    <div class="col-md-7 mx-auto">
        <h1>Kerry Spence</h1>
        <h4 class="mt-2">MD - React Clarity</h4>
        <h4 class="mt-2"><a href=mailto:kerry@reactclarity.com>kerry@reactclarity.com</a></h4>
        <p class="mt-4 about-me">
            Kerry is a highly experienced corporate firefighter, trouble-shooter problem-solver, mentor, people manager
            and business auditor, working across a variety of business sectors including professional services, FMCG,
            legal, property and luxury brands.
            <br><br>
            Having been in business for over 30 years, I understand the unique struggles that come with being in charge,
            managing up, conflict resolution, and the responsibilities that accompany leadership positions.
            <br><br>
            As someone who has donned both the hat of a business owner and an employee, I've encountered the highs and
            lows, victories and defeats and made plenty of mistakes that come with the territory. It can often feel
            lonely at the top and just below and believe me I feel your pain! I have mentored CEOs, MDs, business
            leaders and team members, supporting them through the ups and down of business growth.
            <br><br>
            You may not have heard of me, but you will have heard of my clients. I work confidentially with business
            owners and senior teams, particularly those in the growth stage, who are now encountering growing pains and
            need to review or reset their business. I bring a common sense and practical approach to problem solving,
            with a deep understanding of people management.
            <br><br>
            As an experienced business auditor, I can also look at all aspects of your business, identify issues and
            draw up and implement a plan to help ensure the business moves forward.
            <br><br>
            This is not about long winded corporate audit documents to sit on a desk and tick a box. What I offer is
            practical help and service - based on what I have seen and worked on over a number of years. This help is
            specific to your business - it is not generic "how to's". I take a common-sense flexible and “grown up”
            approach to all I do. I am quick, reactive and nimble and can adapt as your business grows, changes or when
            things just happen.
            <br><br>
            If you want to make more money, need a business mentor, troubleshooter, have issues with your team or want
            to take a closer look at your business opportunities:
            Contact me for a confidential, no obligation discussion
        </p>
    </div>
    <div class="col-md-5 mx-auto">
        <img class="featurette-image img-fluid mx-auto d-block"
            src="{{ url_for('static', filename='css/images/ks-profile-pic.webp') }}" alt="Image of Kerry Spence">
    </div>
</div>
<div class="row featurette w-100">
    <div class="col-md-7 mt-5 mx-auto">
        <h4 class="mt-2">Member of the Association of British Mentors</h4>
    </div>
    <div class="col-md-5 mx-auto">
        <img class="featurette-image img-fluid mx-auto d-block"
            src="{{ url_for('static', filename='css/images/ABMLogo.jpeg') }}" alt="Image of Kerry Spence">
    </div>
</div>

{% endblock %}