{% extends "base.html" %}

{% block content %}
<div class="row featurette">

    <div class="col-md-7">
        <h1>Kerry Spence</h1>
            <h4 class="mt-2">MD - React Clarity</h4>
            <h4 class="mt-2"><a href=mailto:kerry@reactclarity.com>kerry@reactclarity.com</a></h4>
        <p class="mt-4">
            Kerry Spence is highly experienced corporate fighfighter , problem solver and people manager with a
            demonstrable history of identifying and correcting issues which prevent businesses from achieving
            successful outcomes
            <br>
            You might not have heard of Kerry, but you will have heard of her clients. Kerry has an enviable track
            record of tackling and solving perceived obstacles to growth - making the overwhelming manageable and
            the impossible possible.
            <br>
            Our associates have extensive and expert knowledge across many business functions and industries and are
            highly skilled in offering insightful advice tailored to your unique needs.
            <br>
            This is not about long winded corporate audit documents to sit on a desk and tick a box. What we do is
            offer practical help and service - based on what we have seen and worked in over a number of years. This
            help is specific to your business - it is not generic “how to” s. We take a common sense flexible “grown
            up” approach to all we do. We are quick, reactive and nimble and can adapt as your business grows,
            changes or when things just happen.
            If your business is facing obstacles, lacks processes, or needs mentorship, look no further. React
            Clarity can identify issues, and provide and implement practical solutions.
        </p>
    </div>
    <div class="col-md-5">
        <img  class="featurette-image image-responsive"  src="{{ url_for('static', filename='css/images/ks-profile-pic.webp') }}" alt="Image of Kerry Spence">
    </div>
</div>
{% endblock %}