{% extends "base.html" %}

{% block content %}

<h2 class="my-4">Testimonials</h2>

<div class="row gx-4 gx-lg-5">

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-text h4">
                    “..her impact has made a wealth of difference to our business and set up on a path to grow
                    substantially”
                </p>
            </div>
            <div class="card-footer">
                <p class="card-title h3">Mary Leonard, Operations Director, Learning Space</p>
                <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal" data-target="#quote1">
                    More Info
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="quote1" tabindex="-1" role="dialog" aria-labelledby="quote1Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-clarity">
                <div class="modal-header">
                    <h5 class="modal-title" id="quote1Title">Mary Leonard, Operations Director, Learning Space</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    "We have been utilising the expertise of Kerry Spence for the last 6 months. To say
                    we are pleased with her work would be
                    an understatement. Kerry has brought about many changes in our business, below are a few key areas
                    where Kerry has
                    implemented positive change:
                    <ul>
                        <li>Streamlining all our many polices & procedures.</li>
                        <li>Streamlining our HR processes.</li>
                        <li>Organising our on boarding system for new and current staff.</li>
                        <li>Creating new reporting structures.</li>
                        <li>Helping to deal with high level difficult HR issues.</li>
                        <li>Looking at systems and helping us navigate to better systems.</li>
                        <li>Being a sounding board for management to bounce ideas off.</li>
                    </ul>
                    I can honestly feedback that her input has made a wealth of difference to our business and set us on
                    my path to grow
                    substantially. Kerry's is very approachable and knowledgeable; she is great at taking your issues
                    and managing them
                    herself until they are solved. Kerry has removed a lot of stress from our management team."
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn clarity-btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-text h4">
                    “..What Kerry had to offer went beyond merely audit. It was clear very quickly that she had
                    extensive business experience, bringing a common sense and practical approach to problem solving
                    together with a deep understanding of people management.”
                </p>

            </div>
            <div class="card-footer">
                <p class="card-title h3">JT , Director , Turley Legal </p>
                <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal" data-target="#quote6">
                    More Info
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="quote6" tabindex="-1" role="dialog" aria-labelledby="quote6Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-clarity">
                <div class="modal-header">
                    <h5 class="modal-title" id="quote1Title">JT , Director , Turley Legal </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    “As an early stage business, our focus on driving revenues during the first couple of years meant
                    that we hadn't given the attention to our business structures and operations that those areas
                    required. To address these shortcomings and better position us for growth, we worked with Kerry to
                    complete a comprehensive business audit and strategic plan for the business.
                    <br>
                    What Kerry had to offer went beyond merely audit. It was clear very quickly that she had extensive
                    business experience, bringing a common sense and practical approach to problem solving together with
                    a deep understanding of people management. She was able to read and navigate through some complex
                    team dynamics, ensuring that our collective desire for progress remained on track. Kerry was always
                    very responsive and happy to get her sleeves rolled up when perhaps more was needed than first
                    thought, and she helped to make an otherwise difficult process a lot more straightforward.
                    <br>
                    I would recommend Kerry as an invaluable asset for any business seeking to elevate its performance.
                    Her work has helped put us on a much more sustainable path, and she has proven to be a reliable
                    mentor, advisor, and partner for myself and other team members here in helping us achieve
                    operational excellence”.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn clarity-btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-text h4">
                    “..in stressful times Kerry remains focused, organised, calm and precise which instantly gives you a
                    sense of reassurance in all situations
                </p>

            </div>
            <div class="card-footer">
                <p class="card-title h3">CW - Manufacturing Industry, UK</p>
                <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal" data-target="#quote2">
                    More Info
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="quote2" tabindex="-1" role="dialog" aria-labelledby="quote2Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-clarity">
                <div class="modal-header">
                    <h5 class="modal-title" id="quote2Title">CW - Manufacturing Industry, UK</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    "It isn't very often that you come across someone like Kerry, Very professional, driven and
                    knowledgeable within her industry and yet her enthusiasm, creativity and sparkle never compromised
                    <br>
                    In stressful and busy times, Kerry remains focused, organised, calm and precise in the direction and
                    next steps required which instantly gives you a sense of reassurance in all situations.
                    <br>
                    Kerry is very well respected as a manager, leader and will always get the job done, on time and
                    brilliantly.
                    <br>
                    I just hope to be able to work with her again soon! "
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn clarity-btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-text h4">
                    “Kerry's strategic vision, coupled with her ability to communicate effectively and empathetically,
                    consistently drove our team to achieve exceptional & at times, unbelievable results!”
                </p>

            </div>
            <div class="card-footer">
                <p class="card-title h3">HC - Global Supply Chain Operation</p>
                <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal" data-target="#quote3">
                    More Info
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="quote3" tabindex="-1" role="dialog" aria-labelledby="quote3Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-clarity">
                <div class="modal-header">
                    <h5 class="modal-title" id="quote3Title">HC - Global Supply Chain Operation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    "I had the pleasure of working with Kerry & her people management skills are truly exceptional.

                    She fosters a supportive and collaborative team environment, ensuring everyone feels heard and
                    valued.

                    Kerry's strategic vision, coupled with her ability to communicate effectively and empathetically,
                    consistently drove our team to achieve exceptional & at times, unbelievable results!

                    Her leadership not only boosts productivity but also promotes personal and professional growth &
                    without her mentorship, I wouldn't be where I am today. Thank you for taking me under your wing
                    Kerry!"
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn clarity-btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-text h4">
                    “..could not recommend higher for export focused operations/general management expertise
                </p>

            </div>
            <div class="card-footer">
                <p class="card-title h3">Ts - Broadlake</p>
                <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal" data-target="#quote4">
                    More Info
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="quote4" tabindex="-1" role="dialog" aria-labelledby="quote4Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-clarity">
                <div class="modal-header">
                    <h5 class="modal-title" id="quote4Title">Ts - Broadlake</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    "Kerry was Operations Director/General Manager at Vita Liberata and did an amazing
                    job for over 5 years in helping to grow this business.
                    I could not recommend her higher for export focused Operations/General
                    Management expertise."
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn clarity-btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-text h4">
                    “..she has simply been a joy to work with”
                </p>

            </div>
            <div class="card-footer">
                <p class="card-title h3">ZJ - manufacturing partner UK</p>
                <button type="button" class="btn clarity-btn btn-primary" data-toggle="modal" data-target="#quote5">
                    More Info
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="quote5" tabindex="-1" role="dialog" aria-labelledby="quote5Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-clarity">
                <div class="modal-header">
                    <h5 class="modal-title" id="quote5Title">ZJ - Manufacturing partner ,UK</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    "I have known Kerry for over 9 years and she has simply been a joy to work with.
                    Kerry is inspirational, organised and has a calming influence coupled with a
                    dignified and professional manner"
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn clarity-btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}